extends layout

block content
	.readerapplyform
		h4 Want to unlock achievements, earn rewards, discover new authors and get paid to do what you already love?
		h2 Apply here.
			//- p: a(href='/auth/facebook') Log In With Facebook
		form(role='form', method='post', action='/formsubmit', id="applicationform")
			.form-group
				input(type='text', name='firstname', placeholder='First Name', id='fname' class="form-control")
			.form-group
				input(type='text', name='lastname', placeholder='Last Name', id='lname' class="form-control")
			.form-group
				input(type='email', name='email', placeholder='Email Address', id='email' class="form-control")
			.form-group
				input(type='text', name='referralcode', placeholder='Referral Code (Optional)' id='refcode' class="form-control")
			.form-group
				textarea(type='text',name='why', placeholder='Why Do You Want To Be a Beta Reader? (Minimum: 100 words)', rows=5, cols=30, id='why', class="form-control", data-wordmin="5")
			.form-group
				textarea(type='text', name='favoritegenres', placeholder='Describe your favorite genres. Be as creative or thorough as you like.', rows=3, cols=30, id='favgenres', class="form-control")
			.form-group
				textarea(type='text', name='favoritebooks', placeholder='What are your 5 favorite books, regardless of genre?', rows=2, cols=30, id='favbooks', class="form-control")
			.form-group
				input(type='submit' id='sub' class="btn")
//- block script
//- 	script(type='text/javascript' src='/javascripts/clientapply.js') 
