extends layout

block content
	h1 You've accepted the challenge! Here's how it works:
	ol
		li Read the provided manuscript.
		li Write thoughtful feedback and submit it.
		li A community manager will review your work and contact you with next steps.
	p We strongly recommend looking over the sample for guidance on how to be a great Beta Reader.
	p Once you're ready to take the challenge, press "Start". Please keep in mind that you must complete the challenge in one session, so we recommend setting aside 20-30 minutes for it.

