.footer
  #twitterFollow
    a(href="https://twitter.com/readrrio" class="twitter-follow-button" data-show-count="false" data-size="large") Follow @readrrio
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  .column
    //- h5 DISCOVER
    ul
      //- li 
      //-   a(href='howitworks')
      //-     | HOW IT WORKS
      //- li 
      //-   a(href='authorsignup')
      //-     | FIND A BETA
      li 
        a(href='be-a-reader')
          | BECOME A BETA
      li
        a(href='jobs')
          | JOBS
      li
        a(href='mailto:readrrio@gmail.com') CONTACT

  //- .column
  //-   h5 ABOUT US
  //-   ul
  //-     li 
  //-       a(href='comingsoon')
  //-         | PRESS
  //-     li 
  //-       a(href='comingsoon')
  //-         | JOBS
  //-     li 
  //-       a(href='comingsoon')
  //-         | BLOG
  //-     li
  //-       a(href='#')
  //-         | ....
  //- .column
  //-   h5 DEV ONLY
  //-   ul
  //-     li 
  //-       a(href='createprofile')
  //-         | CREATE PROFILE
  //-     li 
  //-       a(href='new-reader-challenge')
  //-         | NEW READER CHALLENGE
  //-     li 
  //-       a(href='thank-you')
  //-         | THANK YOU
  //-     li
  //-       a(href='editprofile')
  //-         | EDIT PROFILE








