.footer
  .column
    h5 DISCOVER
    ul
      li 
        a(href='howitworks')
          | HOW IT WORKS
      li 
        a(href='authorsignup')
          | FIND A BETA
      li 
        a(href='readersignup')
          | BECOME A BETA
      li
        a(href='comingsoon')
          | SUCCESS STORIES
  .column
    h5 ABOUT US
    ul
      li 
        a(href='comingsoon')
          | PRESS
      li 
        a(href='comingsoon')
          | JOBS
      li 
        a(href='comingsoon')
          | BLOG
      li
        a(href='#')
          | ....