extends layout

block content
	.wrap
		#jobs
			h4 Interested in a job with Readrr? 
			h4 Send a resume, portfolio and thoughtful cover letter to 
			a(href='mailto:readrrio@gmail.com') readrrio@gmail.com