nav.navbar.navbar-default 
	h1.logo Readrr
	ul.nav.navbar-nav
		li
			a(href='/') HOME
		li
			a(href='authorform') POST a PROJECT
		li
			a(href='apply') APPLY to be a READER
		li
			a(href='/auth/logout') LOG OUT
		li
			a(href='/auth/facebook') SIGN IN