body {
  font: 16px 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

h1.logo {
	margin: 5px;
	position: absolute;
	color: #ff4537;
}

.navbar {
	background-color: #ff4537;
	margin: 0px;
/*Uncomment below before deploying: commented for dev purposes only*/
	border: none;
	border-radius: 0;
}

.navbar-nav {
	float: right;
}

.navbar-default .navbar-nav li > a {
	color: white;
}

.navbar-default .navbar-nav li > a:hover {
	color: #d3d3d3;
}

.jheader {
	text-align: center;
}

.container-fluid {
	padding: 0px;
}

.jumbotron {
	background-color: #ff4537;
	box-shadow: 0px 5px 5px #ff746a;
}

h1.slogan {
	font-size: 80px;
	color: white;
	margin-bottom: 0;
	font-family: 'Oregano', cursive;
}

.row {
	padding: 2%;
}

.modal input {
	width: 50%;
	margin: 0 auto;
	margin-bottom: 5px;
}

button.cta {
	background-color: #37f1ff;
	box-shadow: 5px 5px 5px;
}

.row.cta {
	padding-left: 40%;
	padding-right: 40%;
}

/*.howitworks {
	text-align: center;
	font-size: 20px;
}

.howitworks a {
	color: #13a2f6;
}*/

.applylink {
	color: #13a2f6;
	/*color: #359aff;*/
}

.readerapplyform {
	text-align: center;
}

.footer {
	background-color: dimgray;
	color: white;
	margin-top: 3%;
}

.column {
	display: inline-block;
	max-width: 20%;
	padding: 20px 40px;
}

.column h5 {
	font-size: 16px;
}

.footer ul {
	padding-left: 0px;
}

.footer li {
	list-style-type: none;
	padding: 3px 0px;
}

.column li > a {
	color: white;
}

a:hover {
	text-decoration: none;
}