body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1.logo {
	margin: 5px;
	position: absolute;
}

.navbar {
	background-color: #8ed2fb;
	margin: 0px;
}

.navbar-nav {
	float: right;
}

.navbar-default .navbar-nav li > a {
	color: black;
}

.navbar-default .navbar-nav li > a:hover {
	color: white;
}

.jheader {
	text-align: center;
}

.container-fluid {
	padding: 0px;
}

.jumbotron.index {
	background-image: url("/images/books.jpg");
	height: 350px;
}

h1.slogan {
	font-size: 48px;
	color: white;
}

.row {
	padding: 2%;
}

.modal input {
	width: 75%;
	margin: 0 auto;
}

.howitworks {
	text-align: center;
	font-size: 20px;
}

.howitworks a {
	color: #13a2f6;
}

/*.jumbotron.how {
	color: white;
	background-image: url("/images/books.jpg");
	height: 500px;
}*/

.readerapplyform {
	text-align: center;
}

.footer {
	background-color: dimgray;
	color: white;
	margin-top: 3%;
}

.column {
	display: inline-block;
	max-width: 20%;
	padding: 20px 40px;
}

.column h5 {
	font-size: 16px;
}

.footer ul {
	padding-left: 0px;
}

.footer li {
	list-style-type: none;
	padding: 3px 0px;
}

.column li > a {
	color: white;
}

a:hover {
	text-decoration: none;
}